<div class="container" style="text-align:center">
  <div>
    <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png" style="height:200px" alt="">
  </div>
  <div class="input-group">
    <form action="/shortener" style="margin: 0px auto;">
      <input type="text" name="origin_url" class="form-control" placeholder="輸入想縮短的網址" value="">
      <button class="btn btn-major" type="submit" id="submit-button">送出</button>
    </form>
  </div>
</div>