<div class="container">
  <div>
    <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png" style="height:200px" alt="">
  </div>
  <div class="input-group">
    <form action="/shortener">
      <input type="text" name="origin_url" class="form-control" placeholder="輸入想縮短的網址" value="">
      <div>
        <button class="btn btn-major" type="submit" id="submit-button">送出</button>
      </div>
    </form>
  </div>
</div>